.dataColoumnWrapper{ width: 33%; border: 1px solid #F2A2B2 ; border-radius: 8px; padding: 20px;margin-bottom: 150px;
    .dataColoumnHeading{  background-color: #F2A2B2; padding: 20px; border-radius: 10px; margin-top: 0px;}
}